.compTable {
  border: 1px solid #c1c1c1;

  .headerTable {
    color: #fff;
    background: #4e1023;

    align-items: center;

    padding-bottom: 5px 0px 5px 0px;

    font-size: 16px;
    font-weight: bold;
    line-height: 24px;

    .columnHeaderTable {
      display: flex;
      align-items: center;

      gap: 5px;

      span {
        text-wrap: wrap;
      }
    }

    &>.row {
      margin: 0;
      padding: 5px;
    }
  }


  .bodyTable {
    >div {
      &:nth-child(even) {
        background-color: var(--lighttest);
      }
    }

    .listGroup {
      color: #767676;

      border-radius: 4px;
      font-size: 14px;

      &>.row {
        height: 50px;
        padding: 5px;
        margin: 0;

        &:nth-child(even) {
          background-color: #fff;

          .table-icon {
            width: 30px;
            height: 30px;
            padding: 4px;

            font-size: 16px;
            color: #767676;
            text-decoration: none;

            background-color: transparent;

            border: 1px solid transparent;
            border-radius: 4px;

            cursor: pointer;

            &:hover {
              border-color: #c1c1c1;
              color: #4e1023;
            }

            &:focus {
              box-shadow: 0px 0px 0px 2px #727588;
              outline: none;
              transition: 0.3s;
            }
          }
        }

        &:nth-child(odd) {
          background-color: #f2f2f2;

          .table-icon {
            width: 30px;
            height: 30px;
            padding: 4px;

            font-size: 16px;
            color: #767676;
            text-decoration: none;

            background-color: transparent;

            border: 1px solid transparent;
            border-radius: 4px;

            cursor: pointer;

            &:hover {
              border-color: #c1c1c1;
              color: #4e1023;
            }

            &:focus {
              box-shadow: 0px 0px 0px 2px #727588;
              outline: none;
              transition: 0.3s;
            }
          }
        }
      }

      .avatar-container {
        display: flex;
        align-items: center;
        justify-content: end;

        width: auto;
        height: 100%;

        .no-user-icon {
          display: flex;
          align-items: center;
          justify-content: center;

          width: 40px;
          height: 40px;
          padding-bottom: 2px;

          font-size: 20px;
          color: #767676;
          text-decoration: none;

          background-color: transparent;

          border: 1px solid #767676;
          border-radius: 8px;
        }

        img {
          width: 40px;
          height: 40px;

          border-radius: 8px;
        }


      }

      span {
        display: inline-block;

        max-width: 100%;

        text-wrap: nowrap;
        text-overflow: ellipsis;

        overflow: hidden;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .compTable {
    .bodyTable {
      .listGroup {

        &>.row {
          height: auto;
          padding: 5px;
          margin: 0;

          .email-container {
            display: flex;
            justify-content: end;

            margin-top: 8px;
          }
        }
      }
    }
  }
}