#login {
  height: 100vh;
}

.headline-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  min-height: 100%;

  .headline {
    h4{
      font-size: 50px;
      font-weight: 600;
      color: #a35a5a;
      
      margin: 0;
      padding: 0;
    }
  }

  .company-container {
    position: absolute;
    bottom: 25px;

    .company {
      font-size: 18px;
      font-weight: 500;
      color: #767676;
    }
  }
}

.border-container {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  min-height: 100%;
  border: 10px solid #4e1023;
  padding: 16px;

  .auth-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    // margin: 16px;
    padding: 12px;

    background-color: #f2f2f2;
    border-radius: 16px;
  }
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 60%;
  height: auto;

  .logo {
    width: auto;
    height: auto;
    max-width: 100%;
    border-radius: 8px;
  }
}

.auth-text {
  font-size: 16px;
  font-weight: 700;
  color: #4e1023;
}

.auth-link {
  text-decoration: none;

  cursor: pointer;

  &:hover {
    color: #000;
  }
}