@import "./assets/icomoon/style.css";
@import "./Styles/Table.scss";
@import "./Styles/text.scss";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
	padding: 0;
}

a {
	display: inline-block;
	color: #767676;
}

svg {
	box-sizing: initial;
}

img {
	box-sizing: border-box;
}

html {
	width: 100%;
	height: 100%;
	min-height: 100vh;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	width: 100%;
	height: 100%;
	min-height: 100vh;
	overflow-x: hidden;
	overflow-y: hidden;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#root {
	overflow: auto;
}

.App {
	display: flex;
	flex-direction: column;
	min-height: 100vh;

	background-color: #F8F9FB;
	color: #767676;
}

.content {
	background-color: #f5f5f5;
	padding: 20px;

	position: relative;
	flex-grow: 1;
	overflow-y: auto;

	margin-top: 60px;
	height: calc(100vh - 60px);

	&.collapsed {
		margin-left: 0px;
	}

	&.expanded {
		margin-left: 20%;
	}
}

.content-background {
  background-color: #fff;
  border: 1px solid #767676;
  border-radius: 4px;
  padding: 12px;
}

@media screen and (max-width: 768px) {
	.content {
		&.expanded {
			margin-left: 0px;
		}
	}
	
}